body{
   background-color:  chocolate;
}
.h{
    color: red;
} 
.new{
    color:red
}
body{
    background-color: green;
}
/* .j{
    background-color: blueviolet;
} */
.b1{
    background-color:green;
}
.b4{
    color: red;
}
.b2{
    background-color: green;
}
.D1{
    color: red;
}
.D2{
    color: red;
}
.D3{
    color: red;
}