{% extends "house/main.html" %}
{% load static  %}
{% block Title  %}
CONTACT
{% endblock Title  %}
{% block link %}
    <h1 class="text-center">CONTACT</h1>
    <p class="text-center">
        <img src=" {% static 'images/kodak2.jpeg' %}" height="400" width="600">
        <br>
        visit us @ wuse_market zone 3 or www.g-skills.com or call 09069458366
    </p>
    <footer  class="footer bg-dark text-white py-3">
        <p>&copy; 2024 paige's blog. All rights reserved.</p>
    </footer>
{% endblock link %}
